.customModalLayout {
  width: 500px;
  height: 500px;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 280px;
}

.title {
  color: #fcfcfd;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.description {
  color: #d0d5dd;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  cursor: pointer;
}
